<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HOME</title>
</head>

<body>
	<h1>This is home page</h1>
	<form method="post" action="/send">
		<input type="text" name="user" id="name">
		<input type="text" name="text" id="msg">
		<button type="submit">Send</button>
	</form>
	<% if (locals.messages) { %>
		<% messages.forEach(msg=> { %>
			<div>
				<h1>
					<%=msg.user%>
				</h1>
				<p>
					<%=msg.text%>
				</p>
			</div>
			<% }) %>
				<% } %>
</body>

</html>
